// This broke when updating Docpad.
// @import('{local_root}lib/jquery-ui/jquery-ui.custom.css')

body
  font-family Monospace
  margin 0px
  overflow scroll

#hubo_container
  canvas
    border 1px solid black

#controls
  margin-left 5px
  border 1px solid black

#pythontext
  background-color white
  width 100%

#textareas
  border-style none

#script 
    border none
    overflow hidden
    outline none

    -webkit-box-shadow none
    -moz-box-shadow none
    box-shadow none


#header 
    border none
    overflow hidden
    outline none

    -webkit-box-shadow none
    -moz-box-shadow none
    box-shadow none

#footer 
    border none
    overflow hidden
    outline none

    -webkit-box-shadow none
    -moz-box-shadow none
    box-shadow none


td
  vertical-align top

.joint
  padding 10px
  table
    border-collapse collapse
  & > div
    &:first-child
      margin-bottom 0.5em
      width 21em

.joint_slider
  width 15em
  float left

.joint_txt
  padding-left 1em
